@page
@model rzr.Pages.Experiments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Experiment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.ActiveState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.ActiveState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.BlackoutTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.BlackoutTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.Jitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.Jitter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.Period)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment.Repitions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiment.Repitions)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Experiment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
