@page
@model rzr.Pages.Schedules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.BlackoutTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.BlackoutTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Jitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Jitter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Period)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Repitions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Repitions)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Schedule.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
