@page
@model rzr.Pages.Schedules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].BlackoutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Jitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Repitions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackoutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repitions)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
